<div class="main_container">
    <div class="container1">
        <div class="info">
            <h1>DON'T TRUST US</h1>
            <h1>TRUST 1000+ DIGITAL <br>LEADERS</h1>
            <p>The most advanced companies in the world use<br> workflow as their digital workplace partner</p>
        </div>
        <img src="assets\img.PNG" alt="" width="800px">
    </div>
    <div class="container2">
        <br><br><br><h1 id="real_time">REAL STORIES FROM REAL CUSTOMERS</h1><br><br><hr><br><br>
        <div class="bank">
            <h1><b>SOFT BANK</b></h1>
            <h3>The beauty of Kissflow is how quick and easy it is to create the apps I need. It's so user-friendly that I made exactly what I needed in 30<br> minutes.</h3>
        </div>

        <br><br><br><div class="world_vision">
            <h1>WORLD VISION</h1>
            <h3>Our previous system was so difficult to use that we lost a lot of potential candidates. They didn't want to go through the process because it<br> was so cumbersome.</h3>
        </div><br><br><br>
       
        <div class="mc">
            <h1>MC DEMON</h1>
            <h3>One of our finance leads said, 'This is so easy, even my mom could do this.' It was extremely intuitive and straightforward. <br>The watermark was, 'I don't need to call IT to do this. I can do it myself.'</h3>
        </div><br><br><br>

        <div class="bergstrome">
            <h1>BERGSTROME</h1>
            <h3>We make back the money we spend on workflow.</h3>
        </div><br><br><br>

        <div class="cartlane">
            <h1>KARTLANE</h1>
            <h3>I designed it, tested it, and had it ready in a week. The platform is simple and highly intuitive, so anyone can use it.</h3>
        </div><br><br><br>
    </div>

    <div class="img2">
        <img src="assets\img2.PNG" alt="">
    </div>
    
</div>
