<div class="main_container">
    <div class="container1">
        <div class="form_container">
            <form>
                <div class="inp_container">
                    <h2>FIRST NAME</h2>
                    <p><input id="name" name="name" type="text" [(ngModel)]="first_name" placeholder="enter your first Name"></p>
                </div>
                <div class="writting">
                    {{first_name}}
                </div>
            </form>
        </div>

        <div class="form_container">
            <form>
                <div class="inp_container">
                    <h2>LAST NAME</h2>
                    <p><input id="name" name="name" type="text" [(ngModel)]="last_name" placeholder="enter your first Name"></p>
                </div>
                <div class="writting">
                    {{last_name}}
                </div>
            </form>
        </div>

        <div class="form_container">
            <form>
                <div class="inp_container">
                    <h2>EMAIL</h2>
                    <p><input id="name" name="name" type="text" [(ngModel)]="email" placeholder="enter your first Name"></p>
                </div>
                <div class="writting">
                    {{email}}
                </div>
            </form>
        </div>

        <div class="form_container">
            <form>
                <div class="inp_container">
                    <h2>PASSWORD</h2>
                    <p><input id="name" name="name" type="password" [(ngModel)]="password" placeholder="enter your first Name"></p>
                </div>
            </form>
        </div>

        <div class="form_container">
            <form>
                <div class="inp_container">
                    <h2>DATE OF BIRTH</h2>
                    <p><input id="name" name="name" type="text" [(ngModel)]="dob" placeholder="enter your first Name"></p>
                </div>
                <div class="writting">
                    {{dob}}
                </div>
            </form>
        </div>
        <div class="register">
            <li id="overview"><a (click)="register()"  routerLink="/login">SUBMIT</a></li>
        </div>
    </div>
    
</div>
