@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.main_container{
    display: flex;
    padding: 30px;
    background-color: rgb(216, 174, 254);
    height: 575px;
}
.container1{
    width: 600px;
    background-color: white;
    padding: 30px;
}
.container2{
    line-height: 50px;
}
.container2, .container1{
    text-align: center;
}
.container2 input, .container1 input{
    width: 300px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}
.submit button{
    height: 30px;
    width: 200px;
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border-style: none;
}
.submit button:hover{
    background: rgb(212, 167, 255);
    color: blueviolet;
}
a{
    text-decoration: none;
    color: blueviolet;
}
li{
    list-style: none
}