<div class="main_container">
    <div class="container1">
        <div class="header">
            <h1>LOGIN</h1>
            <h5>continue with our workflow</h5>
        </div>
    <div class="container2"><br><br>
        <form action="">
            <h2>USERNAME</h2>
            <p><input type="email" placeholder="USERNAME"></p>
        </form>
        <form action="">
            <h2>PASSWORD</h2>
            <p><input type="password" placeholder="PASSWORD"></p>
        </form>
        <div class="submit">
            <button routerLink="/workflow-page" type="submit">SUBMIT</button>
        </div>
        <h3 >not registered yet ? <li id="overview"><a  routerLink="/register">CLICK HEARE TO REGISTER</a></li></h3>
    </div>
    </div>
    <div class="container3">
        <img src="https://cdn.pixabay.com/photo/2021/11/18/11/35/attack-6806140__340.png" alt="" width="800px">
    </div>
</div>
