<div class="maincontainer">
    <div class="container1">
        <div class="image_conatiner">
            <a  routerLink="/office-staff"><img src="https://cdn.pixabay.com/photo/2021/02/19/23/17/reception-6031806__340.png" alt="" width="600px"></a>
        </div>
        <br><br><br><br><br><br><div class="text_container">
            <h1>OFFICE STAFF</h1>
        </div>
    </div>

    <div class="container2">
        <div class="IMAGE_CONTAINER">
            <a  routerLink="/worker"><img src="https://cdn.pixabay.com/photo/2020/11/12/16/58/worker-5736096__480.jpg" alt="" width="600px"></a>
        </div>
        <br><br><br><br><br><br><div class="text_container">
            <h1>WORKER</h1>
        </div>
       
    </div>
</div>

    
    

